Repository heroku/buildpacks-jvm, pull requests merged in 2023-11, with the labels that each got.

#612 Minor README fixes for Salesforce Functions buildpacks
  buildpacks/jvm-function-invoker/README.md
  meta-buildpacks/java-function/README.md
Labels: skip changelog, buildpack: heroku/jvm-function-invoker, buildpack: heroku/java-function

#614 Switch away from workspace-defined dependencies
  Cargo.toml
  buildpacks/gradle/Cargo.toml
  buildpacks/jvm-function-invoker/Cargo.toml
  buildpacks/jvm/Cargo.toml
  buildpacks/maven/Cargo.toml
  buildpacks/sbt/Cargo.toml
  shared-test/Cargo.toml
  shared/Cargo.toml
Labels: skip changelog

#617 Switch to Cargo.toml based lint configuration
  Cargo.lock
  Cargo.toml
  buildpacks/gradle/Cargo.toml
  buildpacks/gradle/src/main.rs
  buildpacks/gradle/tests/integration/main.rs
  buildpacks/gradle/tests/integration/ux.rs
  buildpacks/jvm-function-invoker/Cargo.toml
  buildpacks/jvm-function-invoker/src/main.rs
  buildpacks/jvm-function-invoker/tests/integration/main.rs
  buildpacks/jvm-function-invoker/tests/integration/smoke.rs
  buildpacks/jvm/Cargo.toml
  buildpacks/jvm/src/bin/heroku_database_env_var_rewrite.rs
  buildpacks/jvm/src/bin/heroku_dynamic_jvm_opts.rs
  buildpacks/jvm/src/bin/heroku_metrics_agent_setup.rs
  buildpacks/jvm/src/main.rs
  buildpacks/jvm/tests/integration/main.rs
  buildpacks/jvm/tests/integration/versions.rs
  buildpacks/maven/Cargo.toml
  buildpacks/maven/src/main.rs
  buildpacks/maven/tests/integration/automatic_process_type.rs
  buildpacks/maven/tests/integration/main.rs
  buildpacks/maven/tests/integration/polyglot.rs
  buildpacks/maven/tests/integration/settings_xml.rs
  buildpacks/maven/tests/integration/versions.rs
  buildpacks/sbt/Cargo.toml
  buildpacks/sbt/src/configuration.rs
  buildpacks/sbt/src/layers/sbt_extras.rs
  buildpacks/sbt/src/main.rs
  buildpacks/sbt/tests/integration/main.rs
  shared-test/Cargo.toml
  shared-test/src/lib.rs
  shared/Cargo.toml
  shared/src/lib.rs
Labels: skip changelog, buildpack: heroku/sbt, buildpack: heroku/jvm, buildpack: heroku/maven, buildpack: heroku/jvm-function-invoker, buildpack: heroku/gradle, buildpack: heroku/java, buildpack: heroku/java-function, buildpack: heroku/scala

#618 Enable additional rustc and Clippy lints
  Cargo.toml
  buildpacks/gradle/src/gradle_command/dependency_report.rs
  buildpacks/gradle/src/gradle_command/mod.rs
  buildpacks/gradle/src/gradle_command/tasks.rs
  buildpacks/gradle/src/main.rs
  buildpacks/gradle/tests/integration/main.rs
  buildpacks/jvm-function-invoker/src/layers/bundle.rs
  buildpacks/jvm-function-invoker/src/main.rs
  buildpacks/jvm/src/bin/heroku_database_env_var_rewrite.rs
  buildpacks/jvm/src/bin/heroku_metrics_agent_setup.rs
  buildpacks/jvm/src/main.rs
  buildpacks/maven/src/layer/maven.rs
  buildpacks/maven/src/main.rs
  buildpacks/maven/tests/integration/customization.rs
  buildpacks/maven/tests/integration/main.rs
  buildpacks/sbt/src/main.rs
  buildpacks/sbt/tests/integration/main.rs
  clippy.toml
  shared/src/fs.rs
Labels: skip changelog, buildpack: heroku/sbt, buildpack: heroku/jvm, buildpack: heroku/maven, buildpack: heroku/jvm-function-invoker, buildpack: heroku/gradle, buildpack: heroku/java, buildpack: heroku/java-function, buildpack: heroku/scala
