Repository heroku/buildpacks-jvm, pull requests merged in 2023-09, with the labels that each got.

#575 Fix new Clippy lint failures
  Cargo.toml
  buildpacks/maven/src/main.rs
Labels: skip changelog, buildpack: heroku/maven

#578 Switch to `workspace.resolver=2`
  Cargo.toml
  buildpacks/sbt/Cargo.toml
Labels: skip changelog, buildpack: heroku/sbt

#582 Add OpenJDK September 2023 PSU updates
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/src/version.rs
Labels: buildpack: heroku/jvm

#584 Fix Gradle release config
  buildpacks/gradle/buildpack.toml
Labels: skip changelog, buildpack: heroku/gradle

#585 Add support for Java 21
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/src/version.rs
Labels: buildpack: heroku/jvm

#590 Switch tests from `heroku/buildpacks:20` to `heroku/builder:20`
  buildpacks/jvm/tests/integration/versions.rs
Labels: skip changelog
