Repository heroku/buildpacks-jvm, pull requests merged in 2024-05, with the labels that each got.

#657 Update OpenJDK default versions for Q2 2024
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/src/version.rs
  buildpacks/jvm/tests/integration/versions.rs
Labels: buildpack: heroku/jvm

#661 Remove unused `ParseError`
  buildpacks/gradle/src/gradle_command/dependency_report.rs
Labels: skip changelog, buildpack: heroku/gradle

#662 libcnb `0.21` and CNB targets support
  Cargo.lock
  buildpacks/gradle/CHANGELOG.md
  buildpacks/gradle/Cargo.toml
  buildpacks/gradle/buildpack.toml
  buildpacks/gradle/src/layers/gradle_home.rs
  buildpacks/jvm-function-invoker/CHANGELOG.md
  buildpacks/jvm-function-invoker/Cargo.toml
  buildpacks/jvm-function-invoker/buildpack.toml
  buildpacks/jvm-function-invoker/src/layers/bundle.rs
  buildpacks/jvm-function-invoker/src/layers/opt.rs
  buildpacks/jvm-function-invoker/src/layers/runtime.rs
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/Cargo.toml
  buildpacks/jvm/buildpack.toml
  buildpacks/jvm/src/layers/heroku_metrics_agent.rs
  buildpacks/jvm/src/layers/openjdk.rs
  buildpacks/jvm/src/layers/runtime.rs
  buildpacks/jvm/src/main.rs
  buildpacks/jvm/src/version.rs
  buildpacks/jvm/tests/integration/versions.rs
  buildpacks/maven/CHANGELOG.md
  buildpacks/maven/Cargo.toml
  buildpacks/maven/buildpack.toml
  buildpacks/maven/src/layer/maven.rs
  buildpacks/maven/src/layer/maven_repo.rs
  buildpacks/sbt/CHANGELOG.md
  buildpacks/sbt/Cargo.toml
  buildpacks/sbt/buildpack.toml
  buildpacks/sbt/src/layers/dependency_resolver_home.rs
  buildpacks/sbt/src/layers/sbt_boot.rs
  buildpacks/sbt/src/layers/sbt_extras.rs
  buildpacks/sbt/src/layers/sbt_global.rs
  meta-buildpacks/java-function/CHANGELOG.md
  meta-buildpacks/java-function/buildpack.toml
  meta-buildpacks/java/CHANGELOG.md
  meta-buildpacks/java/buildpack.toml
  meta-buildpacks/scala/CHANGELOG.md
  meta-buildpacks/scala/buildpack.toml
  shared-test/Cargo.toml
  shared/Cargo.toml
Labels: buildpack: heroku/sbt, buildpack: heroku/jvm, buildpack: heroku/maven, buildpack: heroku/jvm-function-invoker, buildpack: heroku/gradle, buildpack: heroku/java, buildpack: heroku/java-function, buildpack: heroku/scala

#669 Remove sbt 0.13 support
  buildpacks/sbt/CHANGELOG.md
  buildpacks/sbt/sbt-plugins/buildpack-plugin-0.x.scala
  buildpacks/sbt/src/layers/sbt_global.rs
  buildpacks/sbt/src/main.rs
  buildpacks/sbt/src/sbt/version.rs
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/.gitignore
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/Procfile
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/build.sbt
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/project/build.properties
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/project/plugins.sbt
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/src/main/scala/com/heroku/Server.scala
  buildpacks/sbt/test-apps/sbt-0.13.16-scala-2.13.10/system.properties
  buildpacks/sbt/tests/integration/caching.rs
  buildpacks/sbt/tests/integration/smoke.rs
Labels: buildpack: heroku/sbt, buildpack: heroku/scala

#674 Remove Heroku support links on errors
  buildpacks/gradle/CHANGELOG.md
  buildpacks/gradle/src/errors.rs
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/src/errors.rs
  buildpacks/maven/CHANGELOG.md
  buildpacks/maven/src/errors.rs
  buildpacks/maven/tests/integration/misc.rs
  buildpacks/sbt/CHANGELOG.md
  buildpacks/sbt/src/errors.rs
  shared/src/log.rs
Labels: buildpack: heroku/sbt, buildpack: heroku/jvm, buildpack: heroku/maven, buildpack: heroku/gradle, buildpack: heroku/java, buildpack: heroku/scala

#675 Enable dependabot for Git submodules
  .github/dependabot.yml
Labels: skip changelog

#679 Remove Heroku's Java Metrics Agent
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/buildpack.toml
  buildpacks/jvm/src/bin/heroku_metrics_agent_setup.rs
  buildpacks/jvm/src/constants.rs
  buildpacks/jvm/src/errors.rs
  buildpacks/jvm/src/layers/heroku_metrics_agent.rs
  buildpacks/jvm/src/layers/mod.rs
  buildpacks/jvm/src/main.rs
  buildpacks/jvm/src/util.rs
Labels: buildpack: heroku/jvm, buildpack: heroku/java, buildpack: heroku/scala

#680 Verify checksum of downloaded OpenJDK distributions
  Cargo.lock
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/Cargo.toml
  buildpacks/jvm/openjdk_inventory.toml
  buildpacks/jvm/src/errors.rs
  buildpacks/jvm/src/layers/openjdk.rs
  buildpacks/jvm/src/main.rs
  buildpacks/jvm/src/util.rs
Labels: buildpack: heroku/jvm, buildpack: heroku/java, buildpack: heroku/scala

#681 Change default OpenJDK version
  Cargo.lock
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/Cargo.toml
  buildpacks/jvm/src/constants.rs
  buildpacks/jvm/src/main.rs
  buildpacks/jvm/src/salesforce_functions.rs
  buildpacks/jvm/test-apps/java-default-app/pom.xml
  buildpacks/jvm/test-apps/salesforce-functions-app/pom.xml
  buildpacks/jvm/test-apps/salesforce-functions-app/project.toml
  buildpacks/jvm/tests/integration/versions.rs
  buildpacks/maven/test-apps/simple-http-service-groovy-polyglot/system.properties
Labels: buildpack: heroku/jvm, buildpack: heroku/java, buildpack: heroku/java-function, buildpack: heroku/scala

#682 Fix OpenJDK version information in README
  README.md
Labels: skip changelog
