Repository heroku/buildpacks-jvm, pull requests merged in 2024-09, with the labels that each got.

#725 Add Git submodule directories to CODEOWNERS
  .github/CODEOWNERS
Labels: skip changelog

#726 Improve framework support
  buildpacks/gradle/CHANGELOG.md
  buildpacks/gradle/src/errors.rs
  buildpacks/gradle/src/framework.rs
  buildpacks/gradle/src/main.rs
Labels: buildpack: heroku/gradle, buildpack: heroku/java

#728 Add OpenJDK 23 support
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/openjdk_inventory.toml
  buildpacks/jvm/test-apps/java-22-app/system.properties
  buildpacks/jvm/test-apps/java-23-app/system.properties
  buildpacks/jvm/tests/integration/versions.rs
Labels: buildpack: heroku/jvm, buildpack: heroku/java, buildpack: heroku/scala
