Repository heroku/buildpacks-jvm, pull requests merged in 2024-01, with the labels that each got.

#626 Fix lint issues from Clippy 1.75.0
  buildpacks/sbt/src/configuration.rs
Labels: skip changelog, buildpack: heroku/sbt

#628 Simplify Cargo metadata for `publish = false` crates
  Cargo.toml
  buildpacks/gradle/Cargo.toml
  buildpacks/jvm-function-invoker/Cargo.toml
  buildpacks/jvm/Cargo.toml
  buildpacks/maven/Cargo.toml
  buildpacks/sbt/Cargo.toml
  shared-test/Cargo.toml
  shared/Cargo.toml
Labels: skip changelog

#630 Update OpenJDK default versions for Q1 2024
  buildpacks/jvm/CHANGELOG.md
  buildpacks/jvm/src/version.rs
  buildpacks/jvm/tests/integration/versions.rs
Labels: buildpack: heroku/jvm
